<div class="container">
  <div class-"row">
    <div class="col-10 my-4">
      <h2><%= link_to @shop.name, shop_path(@shop) %>のレビュー</h2>
    </div>

    <%= render '/public/reviews/index', reviews: @reviews %>

  </div>
</div>