<div class="container">
  <div class="row">
    <div class="col text-center mt-2 mb-4">
      <h2>「ネコだまり」とは？</h2>
      <p>
        猫カフェのレビューサイトです。<br>
        会員登録をしていただくことで、レビューの投稿が可能です。<br>
      </P>

      <P>以下のようなシーンでご利用ください。</P>
      <P>
        行きたい猫カフェの雰囲気を事前に確認したいとき<br>
        実際に行った猫カフェの感想をシェアしたいとき<br>
        かわいい猫の写真を見たいとき
      </P>
    </div>
  </div>
</div>
