<footer class="fixed-bottom">
  <div class='container mt-2'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>
    		  <span style="font-size : 15pt">
    		   @neko_damari
    		  </span>
    		</p>
    	</div>
    </div>
  </div>
</footer>